{% extends 'layout.html.twig' %}
{% block title %}Fussee - Browse{% endblock %}
{% block content %}


        <div class="searchArea">
            <div class="searchHeader lead">What would you like to eat?</div>

            <div class="searchbox">
                <form action="search" method="post" class="searchbox">
                    <div class="searchbox-inputs">
                    <div id="search-left">
                        <div id="search-info">Ingredients to include</div>
                        <input id="yesIngredients" type="text" name="yesIngredients" placeholder="Enter something">

                    </div>
                    <div id="search-right">
                        <div id="search-info">Ingredients to exclude</div>
                        <input id="noIngredients" type="text" name="noIngredients" placeholder="Enter something">
                    </div>
                    </div>
                    <div id="submit-button">
                        <input type="submit" name="submit" value="Search"/>
                    </div>
                </form>
            </div>
        </div>

    {% if error is defined %}
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> {{ error }}
    </div>
    {% else %}

        <div class="container browse-container">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">All Recipes – Page {{ ( (start / 20) + 1) }} of {{ (count / 20)|round(0, 'ceil') }} </h5>
            <small>Returned {{ count }} recipes</small>
        </div>

            <div id="pagebuttons-top">
                {% if (start + 20) > count %}
                    <a href="{{ previousPage }}"><span id="previous-page">< Previous Page</span></a>
                {% elseif (start <= 0) %}
                    <a href="{{ nextPage }}"><span id="next-page">Next Page ></span></a>
                {% else %}
                    <a href="{{ previousPage }}"><span id="previous-page">< Previous Page</span></a>
                    <a href="{{ nextPage }}"><span id="next-page">Next Page ></span></a>
                {% endif %}
            </div>

    <div class="homepage-wrapper">
    {% for recipe in browseResult %}
        <div class="list-group frontpage">
            <li class="list-group-item list-group-item-action align-items-start">
                <div class="d-flex">
                    <a href="{{ recipe.recipeURL }}"><img class="img-thumbnail" src="{{ recipe.recipeImageURL }}" alt="{{ recipe.recipeTitle }}"></a>
                    <div class="d-flex w-100 justify-content-between">
                        <div>
                            <h4 class="mb-0"><a href="{{ recipe.recipeURL }}">{{ recipe.recipeTitle }}</a></h4>
                            <small>{{ recipe.recipeSource }}</small>
                        </div>

                        {% if loggedIn %}
                            <div class="favourite" data-id="{{ recipe.recipeID }}">
                                <i class="far fa-heart"></i>
                                <div class="favourite-text">Add to favourites</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <hr/>
                <div class="recipe-badges">
                    <span class="badge badge-primary badge-pill prep-badge">Prep Time: {{ recipe.recipePrepTime }}</span>
                    <span class="badge badge-primary badge-pill cook-badge">Cook Time: {{ recipe.recipeCookTime }}</span>
                    <span class="badge badge-primary badge-pill serves-badge">{{ recipe.recipeServings }}</span>
                </div>
            </li>
        </div>
    {% endfor %}
    </div>

            <div id="pagebuttons-bottom">
                {% if (start + 20) > count %}
                    <a href="{{ previousPage }}"><span id="previous-page">< Previous Page</span></a>
                {% elseif (start <= 0) %}
                    <a href="{{ nextPage }}"><span id="next-page">Next Page ></span></a>
                {% else %}
                    <a href="{{ previousPage }}"><span id="previous-page">< Previous Page</span></a>
                    <a href="{{ nextPage }}"><span id="next-page">Next Page ></span></a>
                {% endif %}
            </div>

        </div>
    </div>

    {% endif %}
</div>

    <script src="js/search-boxes.js"></script>

    <script src="js/add-favourite.js"></script>


{% endblock %}
