{% extends 'layout.html.twig' %}
{% block title %}Fussee - Browse{% endblock %}
{% block content %}

    <div id="wrapper">
        <div class="topnav">
            <div class="logo">fussee</div>
            <div class="topnav-right">
                <a href="homepage">Home</a>
                <a href="about">About</a>
                <a class="active" href="browse">Browse</a>
                <a href="signin">Sign-in</a>
            </div>
        </div>

        <div class="searchArea">
            <div class="searchHeader">What would you like to eat?</div>

            <div class="searchbox">
                <form action="search" method="post" class="searchbox">
                    <div class="searchbox-inputs">
                        <div id="search-left">
                            <div id="search-info">Ingredients to include</div>
                            <input id="yesIngredients" type="text" name="yesIngredients" placeholder="Enter something">

                        </div>
                        <div id="search-right">
                            <div id="search-info">Ingredients to exclude</div>
                            <input id="noIngredients" type="text" name="noIngredients" placeholder="Enter something">
                        </div>
                    </div>
                    <div id="submit-button">
                        <input type="submit" name="submit" value="Search"/>
                    </div>
                </form>
            </div>
        </div>

        <div id="browse-wrapper">
            <div id="page-title">Featured Recipes</div>

            {% for recipe in browseResult %}
                <div id="recipe">
                    <div id="recipeThumbnail">
                        <a href="{{ recipe.recipeURL }}">
                            <img src="{{ recipe.recipeImageURL }}" alt="{{ recipe.recipeTitle }}">
                        </a>
                    </div>

                    <div id="recipeInfo">
                        <div id="recipeTitle"><a href="{{ recipe.recipeURL }}">{{ recipe.recipeTitle }}</a></div>
                        <div id="recipeSource"><span id="sub-title">Source: </span>{{ recipe.recipeSource }}</div>
                        <div id="recipePrepTime"><span id="sub-title">Prep Time: </span>{{ recipe.recipePrepTime }}</div>
                        <div id="recipeCookTime"><span id="sub-title">Cook Time: </span>{{ recipe.recipeCookTime }}</div>
                        <div id="recipeServings"><span id="sub-title">Serves: </span>{{ recipe.recipeServings }}</div>
                    </div>
                </div>
            {% endfor %}

            <div id="pagebuttons">
                {% if (start + 20) > count %}
                    <a href="{{ previousPage }}"><span id="previous-page">Previous Page</span></a>
                {% elseif (start <= 0) %}
                    <a href="{{ nextPage }}"><span id="next-page">Next Page</span></a>
                {% else %}
                    <a href="{{ previousPage }}"><span id="previous-page">Previous Page</span></a>
                    <a href="{{ nextPage }}"><span id="next-page">Next Page</span></a>
                {% endif %}
            </div>

        </div>
    </div>

    <script src="search-boxes.js"></script>

{% endblock %}
