{% extends 'layout.html.twig' %}
{% block title %}Fussee{% endblock %}
{% block content %}


    <div class="jumbotron">
        <h1 class="display-3">Discover new food...</h1>
        <p class="lead">
            Our new Browse section allows you to browse the recipes in our database without
            the need for specific searches.
        </p>
        <hr class="my-2">
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="browse" role="button">Browse now</a>
        </p>
    </div>


    <div class="section-title">Featured Recipes</div>

    <div class="list-group frontpage">
    {% for recipe in featured %}
        <li class="list-group-item list-group-item-action align-items-start">
            <div class="d-flex">
                <a href="{{ recipe.recipeURL }}"><img class="img-thumbnail" src="{{ recipe.recipeImageURL }}" alt="{{ recipe.recipeTitle }}"></a>
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h4 class="mb-0"><a href="{{ recipe.recipeURL }}">{{ recipe.recipeTitle }}</a></h4>
                        <small>{{ recipe.recipeSource }}</small>
                        <br>
                    </div>

                    {% if loggedIn %}
                    <div class="favourite" data-id="{{ recipe.recipeID }}">
                        <i class="far fa-heart"></i>
                        <div class="favourite-text">Add to favourites</div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="recipe-badges">
                <span class="badge badge-primary badge-pill prep-badge">Prep Time: {{ recipe.recipePrepTime }}</span>
                <span class="badge badge-primary badge-pill cook-badge">Cook Time: {{ recipe.recipeCookTime }}</span>
                <span class="badge badge-primary badge-pill serves-badge">{{ recipe.recipeServings }}</span>
            </div>

        </li>
    {% endfor %}
    </div>


    <div class="section-title">Random Recipes</div>

    <div class="list-group frontpage">
        {% for recipe in random %}
            <li class="list-group-item list-group-item-action align-items-start">
                <div class="d-flex">
                    <a href="{{ recipe.recipeURL }}"><img class="img-thumbnail" src="{{ recipe.recipeImageURL }}" alt="{{ recipe.recipeTitle }}"></a>
                    <div class="d-flex w-100 justify-content-between">
                        <div>
                            <h4 class="mb-0"><a href="{{ recipe.recipeURL }}">{{ recipe.recipeTitle }}</a></h4>
                            <small>{{ recipe.recipeSource }}</small>
                        </div>

                        {% if loggedIn %}
                            <div class="favourite" data-id="{{ recipe.recipeID }}">
                                <i class="far fa-heart"></i>
                                <div class="favourite-text">Add to favourites</div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <span class="badge badge-primary badge-pill prep-badge">Prep Time: {{ recipe.recipePrepTime }}</span>
                <span class="badge badge-primary badge-pill cook-badge">Cook Time: {{ recipe.recipeCookTime }}</span>
                <span class="badge badge-primary badge-pill serves-badge">{{ recipe.recipeServings }}</span>
            </li>
        {% endfor %}
    </div>


    <script src="add-favourite.js"></script>


{% endblock %}
