{% extends 'layout.html.twig' %}
{% block title %}Fussee{% endblock %}
{% block content %}


    <div class="jumbotron">
        <h1 class="display-3">Discover new food...</h1>
        <p class="lead">
            Our new Browse section allows you to browse the recipes in our database without
            the need for specific searches.
        </p>
        <hr class="my-2">
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="browse" role="button">Browse now</a>
        </p>
    </div>

    <div class="homepage-wrapper">
        <div class="section-title">Today's featured recipes...</div>

        {% for recipe in featured %}
            <div class="list-group frontpage">
                <li class="list-group-item list-group-item-action align-items-start">
                    <div class="d-flex">
                        <a href="{{ recipe.recipeURL }}"><img class="img-thumbnail" src="{{ recipe.recipeImageURL }}" alt="{{ recipe.recipeTitle }}"></a>
                        <div class="d-flex w-100 justify-content-between">
                            <div>
                                <h4 class="mb-0"><a href="{{ recipe.recipeURL }}">{{ recipe.recipeTitle }}</a></h4>
                                <small>{{ recipe.recipeSource }}</small>
                            </div>

                            {% if loggedIn %}
                                <div class="favourite" data-id="{{ recipe.recipeID }}">
                                    <i class="far fa-heart"></i>
                                    <div class="favourite-text">Add to favourites</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr/>
                    <div class="recipe-badges">
                        <span class="badge badge-primary badge-pill prep-badge">Prep Time: {{ recipe.recipePrepTime }}</span>
                        <span class="badge badge-primary badge-pill cook-badge">Cook Time: {{ recipe.recipeCookTime }}</span>
                        <span class="badge badge-primary badge-pill serves-badge">{{ recipe.recipeServings }}</span>
                    </div>
                </li>
            </div>
        {% endfor %}



        <div class="section-title">Five random recipes for you to enjoy...</div>

        <div class="card-group homepage-cards">
            {% for recipe in random %}
                <div class="card homepage-card">
                    <a href="{{ recipe.recipeURL }}"><img class="card-img-top" src="{{ recipe.recipeImageURL }}" alt="{{ recipe.recipeTitle }}"></a>
                    <div class="card-body">
                        <a href="{{ recipe.recipeURL }}"><h4 class="card-title homepage-card-title">{{ recipe.recipeTitle }}</h4></a>
                        <p class="card-text">
                            <small>
                                <b>Prep Time:</b> {{ recipe.recipePrepTime }}<br>
                                <b>Cook Time:</b> {{ recipe.recipeCookTime }}<br>
                                <b>Servings:</b> {{ recipe.recipeServings }}
                            </small><br>
                            <div class="float-right text-muted recipe-source">{{ recipe.recipeSource }}</div>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>


    <script src="add-favourite.js"></script>


{% endblock %}
